# # Local DB
DATABASE_USERNAME=dbUsername
DATABASE_PASSWORD=dbPassword
DATABASE_NAME=dbName
DATABASE_HOST=dbHost
DATABASE_PORT=dbPort

SSL=false
REJECT_UNAUTHORIZED=false

#JWT
JWT_SECRET=jwtSecret

# #Google
GOOGLE_CLIENT_ID=googleClientId
GOOGLE_CLIENT_SECRET=googleClientId

#Mails
SENDGRID_API_KEY=sengridApiKey
NEWSLETTER_SENDER_EMAIL=senderEmail
MAIL_CONFIG_HOST=mailConfigHost
MAIL_CONFIG_PORT=mailConfigPort
MAIL_CONFIG_SECURE=true
MAIL_CONFIG_AUTH_USER=apikey
FRONTEND_URL=frontendUrl
BACKEND_URL=backendUrl
SUPPORT_EMAIL=supportEmail

#Cookie
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=true
SAME_SITE=param

#SEC-API
SEC_API_KEY=secApiKey
SEC_API_URL=secApiUrl
#SUPABASE
SUPABASE_URL=url
SUPABASE_KEY=projectKey
SUPABASE_BUCKET_NAME=bucketName

DEAL_DEFAULT_IMAGE=url
SPONSOR_DEFAULT_IMAGE=url
USER_DEFAULT_IMAGE=url

NEXT_PUBLIC_CONTACT_EMAIL=support@investclearly.com
