a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0px;
  background: #f6f7fa !important;
}

.round-divider {
  width: 4px;
  height: 4px;
  background-color: #717c89;
  border-radius: 50%;
}

.vi__container {
  gap: 4px;
  width: auto;
}

@keyframes border-fade {
  0% {
    border-color: #dbe4f2;
  }
  100% {
    border-color: red;
  }
}

.vi__character {
  border-radius: 12px;
  border: 1px solid #dbe4f2;
  background: white;
  height: 44px;
  width: 42px !important;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.5s ease-in-out;
}

.vi__character-error {
  border: 1px solid red;
  animation: border-fade 0.5s ease-in-out;
}

.vi__character--selected {
  outline: none;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  padding: 16px;
  font-family: 'Inter', sans-serif !important;
  border: 1px solid #f6f7fa !important;
  border-radius: 12px !important;
  box-shadow: 0px 4px 12px 0px rgba(30, 43, 67, 0.06) !important;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  background-color: #fff !important;
  border: none !important;
  padding: 0px !important;
}
.react-datepicker__current-month {
  color: #1e2b43 !important;
  margin-bottom: 12px;
}

.react-datepicker__navigation-icon::before {
  border: none !important;
}

.react-datepicker__navigation--previous {
  background: url(/assets/Arrow-left.png) no-repeat !important;
  width: 40px !important;
  height: 40px !important;
  margin: 6px 0px 0px 16px;
}

.react-datepicker__navigation--next {
  background: url(/assets/Arrow-right.png) no-repeat !important;
  width: 40px !important;
  height: 40px !important;
  margin: 4px 16px 0px 0px;
}

.react-datepicker__day-name {
  color: #a6b0bb !important;
  font-size: 13px !important;
  padding: 8px;
}

.react-datepicker__day-names {
  margin: 0 !important;
}

.react-datepicker__day {
  font-size: 15px;
  color: #1e2b43 !important;
}

.react-datepicker__day:hover {
  background: transparent !important;
  color: #4f7ff8 !important;
}

.react-datepicker__day--selected {
  background-color: #4f7ff8 !important;
  border-radius: 4px;
  color: #fff !important;
}

.react-datepicker__day--outside-month.react-datepicker__day--selected {
  background-color: #4f7ff8 !important;
  border-radius: 4px;
  color: #fff !important;
}

.react-datepicker__day--keyboard-selected {
  color: #1e2b43 !important;
  background: transparent !important;
}

.react-datepicker__month {
  margin: 0px !important;
}

.react-datepicker__day--outside-month {
  color: #717c89 !important;
}
